./GenericsExample/.vs/*
GenericsExample/.vs/GenericsExample/DesignTimeBuild/.dtbcache.v2
GenericsExample/.vs/GenericsExample/v16/.suo
LinqExample/.vs/LinqExample/DesignTimeBuild/.dtbcache.v2
LinqExample/.vs/LinqExample/v16/.suo
